

.contact {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact-titre {
    text-align: center;
}

.commande-haut {
    display: flex;
    justify-content: space-between;
}
.commande-bas {
   justify-content: center;
    width: 100%;
}

.gauche, .droit, .bas {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 15px;
    width: 100%;
}

input, label {
    transition: all .3s;
}

label {
    transform: translate(10px, -15px);
    cursor: text;
    transform-origin: left top;
    position: absolute;
}

input {
    padding: 10px;
    text-transform: uppercase;
    border: none; 
    outline:none; 
    border-bottom: 2px solid grey;
}

input[type="email"] {
    text-transform: lowercase;
}

.gauche input, .droit input {
    border: 0;
    padding: 10px 30px;
    letter-spacing: 2px;
    cursor: pointer;
    color: rgb(1, 1, 1);
    border-bottom: 2px solid grey;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: yellow;
    cursor: pointer;
}

.Envoyer {
    text-align: right;
}

input::placeholder {
    opacity: 0;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: 2px solid yellow;
}

input:not(:placeholder-shown) ~ label,
input:focus ~ label {
    transform: translate(10px, -30px) scale(.8);

}

#service {
    border: none; 
    outline:none; 
    border-bottom: 2px solid grey;
    
}

#civilite {
    border: none; 
    outline:none; 
    border-bottom: 2px solid grey;
}

label[for="Civilite"], label[for="service"] {
    margin-bottom: 15px;
}